@{
    Script.Require("Shoutbox").AtFoot();
    Style.Require("Shoutbox");
    
    var formId = "orchardhun-shoutbox-form-" + Model.ContentItem.Id;
    var messageContainerId = "orchardhun-shoutbox-messagecontainer-" + Model.ContentItem.Id;
    var getMessagesUrl = Url.Action("GetMessages", new { Controller = "Shoutbox", Area = "OrchardHUN.Shoutbox", ShoutboxId = Model.ContentItem.Id });
}

@using (Script.Foot())
{
    <script type="text/javascript">
        $(document).ready(function () {
            $.shoutbox.loadMessages("@getMessagesUrl", "@messageContainerId");
        });
    </script>
}

<div id="@messageContainerId" class="orchardhun-shoutbox-messages">
</div>

@if (Authorizer.Authorize(OrchardHUN.Shoutbox.Permissions.WriteMessage))
{
    using (Script.Foot())
    {
        <script type="text/javascript">
            $(document).ready(function() {
                $.shoutbox.initialize("@formId", "@getMessagesUrl", "@messageContainerId", "@T("Write message here")");
            });
        </script>
    }

    using (Html.BeginFormAntiForgeryPost(Url.Action("SaveMessage", new { Controller = "Shoutbox", Area = "OrchardHUN.Shoutbox", ShoutboxId = Model.ContentItem.Id }), FormMethod.Post, new { id = formId }))
    {
        @Display(Model.MessageEditorShape());
        <button type="submit" class="primaryAction">@T("Send")</button>
    }
}
else
{
    @T("Sign in to post messages.")
}